mixin addRow(id,name,type,value,readonly)
    .form-group
        label(for="#{id}").col-md-3.control-label
            span #{name}:
        .col-md-9
            case type
                when "input"
                    if readonly==true
                        input(id="#{id}" type="text" value='#{value}' readonly).form-control
                    else
                        input(id="#{id}" type="text" value='#{value}').form-control
                when "select"
                    select(id="#{id}").form-control
                        each item,i in value
                            option(value='#{item.value}').form-control   #{item.name}
