extends layout
block content
    .container
        .row
            .col-md-9
                .col-md-2
                    include includes/list
                    +AddList(configTypeItemList)
                .col-md-4#device
                    include device
                .col-md-6#detail
                    include config
            .col-md-3
                .panel.panel-default
                    .panel-heading.text-center(id="#{IPList.headerId}")
                        h3.panel-title=IPList.title
                    .list-group(id="#{IPList.title}")
                        each item,i in IPList.groupItems
                            if item.isActive==true
                                a.text-center.list-group-item.active(id="#{item.itemName}" href="#top" onclick="#{IPList.clickEventName}(this)")=item.itemName
                            else
                                a.text-center.list-group-item(id="#{item.itemName}" href="#top" onclick="#{IPList.clickEventName}(this)")=item.itemName

                